# Dependencies
node_modules/
npm-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
dist/
build/